[submodule "designs/src/lfsr/dev/repo"]
	path = designs/src/lfsr/dev/repo
	url = https://github.com/alexforencich/verilog-lfsr.git
[submodule "designs/src/minimax/dev/repo"]
	path = designs/src/minimax/dev/repo
	url = https://github.com/gsmecher/minimax.git
[submodule "designs/src/NyuziProcessor/dev/repo"]
	path = designs/src/NyuziProcessor/dev/repo
	url = https://github.com/jbush001/NyuziProcessor.git
[submodule "designs/src/liteeth/dev/liteeth"]
	path = designs/src/liteeth/dev/repo
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "designs/src/cnn/dev/repo"]
	path = designs/src/cnn/dev/repo
	url = https://github.com/NNgen/nngen
[submodule "designs/src/gemmini/dev/repo"]
	path = designs/src/gemmini/dev/repo
	url = https://github.com/ucb-bar/gemmini.git
[submodule "designs/src/bp_processor/dev/repo"]
	path = designs/src/bp_processor/dev/repo
	url = https://github.com/black-parrot/black-parrot.git
[submodule "designs/src/sha3/dev/repo"]
	path = designs/src/sha3/dev/repo
	url = https://github.com/ucb-bar/sha3
[submodule "designs/src/NVDLA/dev/repo"]
	path = designs/src/NVDLA/dev/repo
	url = https://github.com/nvdla/hw.git
	branch = nv_small
[submodule "designs/src/coralnpu/dev/repo"]
	path = designs/src/coralnpu/dev/repo
	url = https://github.com/google-coral/coralnpu.git
[submodule "designs/src/vortex/dev/repo"]
	path = designs/src/vortex/dev/repo
	url = https://github.com/vortexgpgpu/vortex.git
[submodule "designs/src/floonoc/dev/repo"]
	path = designs/src/floonoc/dev/repo
	url = https://github.com/pulp-platform/FlooNoC.git
[submodule "designs/src/snitch_cluster/dev/repo"]
	path = designs/src/snitch_cluster/dev/repo
	url = https://github.com/pulp-platform/snitch_cluster.git
[submodule "tools/bsg_fakeram"]
	path = tools/bsg_fakeram
	url = https://github.com/VLSIDA/bsg_fakeram.git
[submodule "bazel-orfs"]
	path = bazel-orfs
	url = https://github.com/The-OpenROAD-Project/bazel-orfs.git
[submodule "designs/src/ternip/dev/repo"]
	path = designs/src/ternip/dev/repo
	url = https://github.com/sifferman/ternip
[submodule "designs/src/ternip/dev/basejump_stl"]
	path = designs/src/ternip/dev/basejump_stl
	url = https://github.com/bespoke-silicon-group/basejump_stl
[submodule "designs/src/litedram/dev/repo"]
	path = designs/src/litedram/dev/repo
	url = https://github.com/enjoy-digital/litedram.git
[submodule "designs/src/litepci/dev/repo"]
	path = designs/src/litepci/dev/repo
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "designs/src/eyeriss/dev/repo"]
	path = designs/src/eyeriss/dev/repo
	url = https://github.com/BoooC/CNN-Accelerator-Based-on-Eyeriss-v2
